.homepage_sidebar_box_content
  %h3
    Our other communities
  - @current_user.communities.each do |community|
    %p
      - if community.id != @current_community.id 
        = link_to "#{community.name}", root_path(:cid => "#{community.domain}")
  
