#home_more_info
  .container_12
    - unless @communities.nil? || @communities.blank?
      %h4 
        Communities
  .container_12
    - unless @communities.nil? || @communities.blank?
      - @communities.each do |community|
        %h2 
          = link_to "#{community.name}", "?cid=#{community.id}"
    - else
      %h2
        = link_to "Community is not registered yet.", "#"

