%p  
  With tags you can help others find your content easier. For instance, if you serving an chinese food, you might tag your listing "chinese" and "noodels". 
%p
  You can add as many tags to a listing as you like. Separate tags with commas.
  Same rule applies for 
  %b diet restrictions.
