.new_listing_form_field_container
  %label{:for => "diet_list", :class => "input"}
    = t('.diet_restrictions')
    %span{:class => "smaller"}
      = t('.comma_separate') + ":"
  = form.text_field(:diet_tag_names, :class => "text_field", :maxlength => "500")
  %p.field_text
    Please specify if this item of yours meets any various food restricted categories (e.g. Vegetarian, Vegan, Kosher, Halal, Gluten-Free, Dairy-Free, Sugar Free…). Please be 100% sure or simply skip adding anything here.
