//- if @current_community
//  - if @current_community.label.eql?("okl")
//    = render :file => community_file("okl_terms", true)
//  - else
//    = render :file => community_file("terms", true)
//- else
//  = render :file => "communities/default/terms/terms.#{I18n.locale}.haml"

.terms_conditions.justify_text
  %p
    Real Good Food, LLC ("RGF") welcomes you, the Beta User (“User”), to our community and to the related Beta website at www.****.com (“Site”).  In using the Site the User is deemed to have read and agreed to the following terms, conditions and policies:

  %h3
    BETA TESTING USER AGREEMENT
  %p
    RGF desires to have the Site evaluated in a "Beta Test". User, for purposes of the Beta Test, is a person or entity desires to become a Member of our community, subject to these terms and to the initial membership policies available at ***.***. Further, User wishes to evaluate the suitability of the Site as a point of intersection and informational resource for members, ie people who love sharing food. 

  %p
    RGF is providing the User with access to its services as a connector, community maker and food information resource, subject to the terms of this Agreement. 
    %b
      By accessing the Site to participate in the Beta Test, User agrees to the terms herein. 

  %p
    User agrees to test the Site for thirty (30) days (unless RGF extends this period) and shall report to RGF with respect to usefulness and functionality.

  %p
    RGF connects and informs people. We are not a vendor, supplier or provider of food. Our members will be encouraged and informed as to making great food which is healthy and safe, and we will always have the right to exclude members who exhibit risky behavior and negative attitudes. If you are a vendor of food as opposed to an individual informally sharing your cooking, we expect that you will comply with applicable law as to the production, handling, packaging and labeling of your food products if you choose to share them within our community.  In any event we cannot accept liability for claims or damages that may arise in any Member’s interactions within the community. During the Beta Test period and at all other times, Users (ie Members, ie you) accept all duties and liabilities related to making and sharing food.  

  %p
    That said, we will do our best to make this a fun, edifying, broadening and inspiring experience – and we hope you’ll want to stick around after the Beta. In any event, either RGF or User may terminate the Beta Testing Agreement at any time prior to expiration of the Beta Test, with written notice to the other party (email notice is fine, as long as you get our response that confirms we got it). At the conclusion of the Beta Test period or following early termination, you will no longer have access to the Site and shall delete any related files from its computers. 

  %p
    Following the Beta Test period User may choose to purchase access to RGF’s services under a long term Member agreement, subject to similar Terms, Conditions and Policies as those that follow herein. 

  %h2
    GENERAL TERMS, CONDITIONS AND POLICIES

  %h3
    Warranties
  %p
    The Site is provided “as is.” While we will strive to assure that it functions properly, we do not promise continuous, flawless operation. RGF hereby disclaims all warranties of any kind, express or implied, including, without limitation, the warranties of merchantability, fitness for a particular purpose and non-infringement.

  %p
    In using the Site you understand that you view, share and/or obtain food and community related information through the Site at your own discretion and risk. RGF further makes no warranties, express or implied, as to the accuracy and reliability of the information posted on or through its services through the Site. 
  %p
    RGF declines to accept any responsibility for the quality of food, or reliability of representations made about food, which is shared among Members. While we facilitate the connections between members and the community, we do not certify, endorse, enforce or warrant anyone’s cooking.  

  %h2
    Privacy and Confidentiality
  %h3
    Confidentiality
  %p
    You, the User/Member, are responsible for maintaining the confidentiality of any account and password created via the Site, and for restricting related access to your computer and/or mobile device. You agree to accept responsibility for all activities that occur under your account or password.  RGF reserves the right to refuse service, limit service or terminate accounts in its sole discretion.
  %p
    User information entered through any account is regarded as confidential in conformity with the Data Protection Act of 1998 and therefore will not be divulged by RGF to any third party unless legally required to do so by the appropriate authorities. RGF utilizes encryption and authentication technology and related best practices to protect data entered and accessed by Users. Users have the right to view any and all records pertaining to their own accounts upon written request.  Except with respect to specific events, promotions and initiatives of which we will provide notice on the Site, RGF will not sell, share, or rent your personal information to any third party or use your contact information for unsolicited communications. Any emails or other notifications sent by RGF will only be in connection with the provision of its primary food and community related communication and notification services.
  %h3
    Log Files
  %p
    RGF reserves the right to use Internet Protocol addresses, ie “IP addresses,” to analyze trends, administer the site, track users’ activities within the Site, improve our features and services and gather broad demographic information for aggregate use. IP addresses are not linked to personally identifiable information.  Additionally, for systems administration, detecting usage patterns and troubleshooting purposes, our web servers automatically log certain non-personal access information including browser type, access times/open mail, URL requested, and referral URL. This information is not shared with third parties and is used only within RGF on a need-to-know basis. Any individually identifiable information related to this data will never be used in any way different to that stated above without your explicit permission.
  %h3
    Cookies
  %p
    Like most interactive web sites, RGF’s website may use cookies to enable the retrieval of user details for each visit. Cookies may be used in some areas of our site to enable functionality and ease of use for those people visiting.
  %h3
    Community Links from RGF  
  %p
    RGF, from time to time, may provide users with information and links related to products, events and services offered by partner or sponsor organizations. While RGF is selective in associating with these online community members, we do not monitor or review the content, policies or practices related to their websites. Opinions expressed or material appearing on such websites are not necessarily shared or endorsed by RGF and we should not be regarded as the publisher of such material. RGF is not responsible for the privacy and security practices of any organization linked to/from our Site.  We encourage our users to be aware of when they enter such outside websites and to read the relevant Terms and Conditions, privacy statements and community policies. You should evaluate the security and trustworthiness of any outside website accessed from the Site before disclosing any personal information. RGF will not accept responsibility for any loss or damage in whatever manner, howsoever caused, resulting from your disclosure of information to third parties of personal information. Further, RGF does not endorse or guarantee products and services Users may obtain through outside organizations whose information or links we display on the Site. RGF will not accept liability for any User’s interactions with these organizations. 
  %h2
    Intellectual Property Rights
  %p
    Copyright, Trademark and other relevant intellectual property rights apply to all content of the Site, whether held by RGF or third parties who may permit RGF to post certain materials. RGF’s brand name and logo, names of its features and services and graphic elements identifying certain features and services, whether registered or unregistered, are owned by RGF and are protected through application of U.S. Trademark Law. Redistribution or republication or imitation of any part of the Site, its content, or of any graphic, verbal or conceptual elements of RGF’s branding, including aesthetic ‘look and feel’ elements, is prohibited without the express written consent of RGF. 
  %p
    When Users enter information in any format or medium via the Site, it becomes the property of RGF, subject to Users and children’s privacy rights as delineated in these Terms and Conditions and under applicable U.S. Federal and local law. 
  %h2
    Limitation of Liability
  %p
    In no event will RGF be liable with respect to any entity or individual to whom these Terms and Conditions apply (ie You, the User) under any contract, negligence, strict liability or other legal or equitable theory for: (i) any special, incidental or consequential damages; (ii) the cost of procurement or substitute products or services; (iii) for interruption of use or loss or corruption of data; or (iv) for any amounts that exceed the fees paid by you to RGF under the Membership policy or these Terms and Conditions during the twelve (12) month period prior to any cause of action. 
  %h2
    Indemnification
  %p
    You, the User, agree to indemnify and hold harmless RGF, its contractors, and its licensors, and their respective directors, officers, employees and agents from and against any and all claims and expenses, including attorneys’ fees, arising out of your use of the Site, including but not limited to your violation of these Terms and Conditions.
  %h2
    Legal Venue and Dispute Resolution
  %p
    By visiting RGF's website and/or engaging as a Member you agree that the laws of the state of Michigan, USA, without regard to principles of conflict of laws, will govern these terms and conditions, and any dispute that might arise between you and RGF or its associates. You further agree that prior to either of us seeking resolution of a dispute in any court of law, we will first attempt to resolve the matter cost effectively through 1) informal negotiation in person, or via Skype or other videoconferencing technology; and/or 2) retaining a mutually acceptable provider of mediation services (such as but not limited to Zena Zumeta Mediation Services of Ann Arbor, Michigan, or the Dispute Resolution Center of Washtenaw and Livingston Counties) for up to four hours of mediation sessions. Otherwise, where these more informal measures are not effective, the usual legal and equitable remedies are available. In situations where RGF is required to seek an injunction or restraining order, or where any User has not met payment obligations to RGF, RGF may seek legal remedies without prior negotiation or mediation. 
  %h2
    Community Policy
  %p
    Just as we expect you to aspire to courtesy, cleanliness and quality in the food you share, and we hope you attend to our tips and guidelines about food preparation and storage best practices, we expect that you observe community best practices as well. These include common courtesy,  good will, acceptance, and general common sense regarding any exchange of dialogue and commentary that takes place among Members on or off the Site. While we wish to provide flexibility in facilitating ongoing dialogue regarding community, food, cooking, ingredients, nutritional ecology and other topics of interest to Members, we reserve the right to limit communications that go beyond our primary purposes and functions or dismiss Members who decline to play a positive role in our community. 
  %h2 
    Miscellaneous
  %p
    If any of these terms are deemed invalid or unenforceable for any reason, we will back off with respect to those specific terms, but all the other terms will still apply. Failure of RGF to enforce any of the provisions in these Terms and Conditions, or failure to limit or terminate any user’s services for any length of time, is not ever a waiver of such provisions. The validity of these Terms and Conditions shall remain valid, along with our right to enforce our terms at a time of our choosing. 
  %h2
    Notification of Changes
  %p
    RGF reserves the right to change these conditions from time to time as it sees fit and your continued use of the site and services will signify your acceptance of any adjustment to these terms. If there are any changes to our privacy related provisions, we will announce that these changes have been made on our home page or other key pages on our site. If there are any changes in how we use personally identifiable information, notification will be made to those affected by this change. You are therefore advised to review our Terms and Conditions and related privacy, security and community policies on a regular basis.
  %h2
    Questions
  %p
    Questions regarding Terms and Conditions and related policies can be directed to the RGF staff.
  %b
    Your accessing of the website or any web-based software application provided by Real Good Food, LLC indicates your understanding, agreement to and acceptance of the Beta Testing User Agreement and/or full Terms and Conditions contained herein and any future revisions thereof. 

